In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('Secondary-sales-report-20180406-data.csv')

In [3]:
data

,Region,Loc,CATEGORY,BRAND,PACK,RTM,Period,ACT-2017,ACT-2018,BP-2018,Unnamed: 10,Unnamed: 11
0,Center,FSD,ENERGY DRINK,MONSTER PREMIUM,355ml CAN,Direct,YTD,NaN,24.009,NaN,NaN,NaN
1,Center,FSD,ENERGY DRINK,MONSTER PREMIUM,355ml CAN,Indirect,MTD,NaN,64.521,99.694975,NaN,NaN
2,Center,FSD,ENERGY DRINK,MONSTER PREMIUM,355ml CAN,Indirect,TODAY,NaN,NaN,21.587125,NaN,NaN
3,Center,FSD,ENERGY DRINK,MONSTER PREMIUM,355ml CAN,Indirect,WTD,NaN,64.521,99.694975,NaN,NaN
4,Center,FSD,ENERGY DRINK,MONSTER PREMIUM,355ml CAN,Indirect,YTD,NaN,219.817,2026.414181,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.head()

,Region,Loc,CATEGORY,BRAND,PACK,RTM,Period,ACT-2017,ACT-2018,BP-2018,Unnamed: 10,Unnamed: 11
0,Center,FSD,ENERGY DRINK,MONSTER PREMIUM,355ml CAN,Direct,YTD,NaN,24.009,NaN,NaN,NaN
1,Center,FSD,ENERGY DRINK,MONSTER PREMIUM,355ml CAN,Indirect,MTD,NaN,64.521,99.694975,NaN,NaN
2,Center,FSD,ENERGY DRINK,MONSTER PREMIUM,355ml CAN,Indirect,TODAY,NaN,NaN,21.587125,NaN,NaN
3,Center,FSD,ENERGY DRINK,MONSTER PREMIUM,355ml CAN,Indirect,WTD,NaN,64.521,99.694975,NaN,NaN
4,Center,FSD,ENERGY DRINK,MONSTER PREMIUM,355ml CAN,Indirect,YTD,NaN,219.817,2026.414181,NaN,NaN

In [5]:
data_0=data[data['Period']=='TODAY']

In [6]:
data_0

,Region,Loc,CATEGORY,BRAND,PACK,RTM,Period,ACT-2017,ACT-2018,BP-2018,Unnamed: 10,Unnamed: 11
2,Center,FSD,ENERGY DRINK,MONSTER PREMIUM,355ml CAN,Indirect,TODAY,NaN,NaN,21.587125,NaN,NaN
6,Center,FSD,ENERGY DRINK,Mutant,500ml PET,Indirect,TODAY,NaN,NaN,188.182830,NaN,NaN
10,Center,FSD,JUICE,CAPPY JOOSI APPLE,200ml TETRA,Direct,TODAY,NaN,8.454,NaN,NaN,NaN
14,Center,FSD,JUICE,CAPPY JOOSI APPLE,200ml TETRA,Indirect,TODAY,NaN,NaN,72.926403,NaN,NaN
18,Center,FSD,JUICE,CAPPY JOOSI MANGO,200ml TETRA,Direct,TODAY,NaN,16.908,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5035,South,RYK,SPARKLING,SPRITE ZERO,500ml PET,Indirect,TODAY,3.171,NaN,18.671730,NaN,NaN
5039,South,RYK,WATER,DASANI,1500ml PET,Direct,TODAY,NaN,1109.556,NaN,NaN,NaN
5043,South,RYK,WATER,DASANI,1500ml PET,Indirect,TODAY,NaN,7.925,NaN,NaN,NaN
5050,South,RYK,WATER,KINLEY,1500ml PET,Indirect,TODAY,697.408,175.938,1879.267067,NaN,NaN
5054,South,RYK,WATER,KINLEY,500ml PET,Indirect,TODAY,257.875,50.722,827.845910,NaN,NaN

In [7]:
data_0.drop(['Region'],axis=1)

,Loc,CATEGORY,BRAND,PACK,RTM,Period,ACT-2017,ACT-2018,BP-2018,Unnamed: 10,Unnamed: 11
2,FSD,ENERGY DRINK,MONSTER PREMIUM,355ml CAN,Indirect,TODAY,NaN,NaN,21.587125,NaN,NaN
6,FSD,ENERGY DRINK,Mutant,500ml PET,Indirect,TODAY,NaN,NaN,188.182830,NaN,NaN
10,FSD,JUICE,CAPPY JOOSI APPLE,200ml TETRA,Direct,TODAY,NaN,8.454,NaN,NaN,NaN
14,FSD,JUICE,CAPPY JOOSI APPLE,200ml TETRA,Indirect,TODAY,NaN,NaN,72.926403,NaN,NaN
18,FSD,JUICE,CAPPY JOOSI MANGO,200ml TETRA,Direct,TODAY,NaN,16.908,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5035,RYK,SPARKLING,SPRITE ZERO,500ml PET,Indirect,TODAY,3.171,NaN,18.671730,NaN,NaN
5039,RYK,WATER,DASANI,1500ml PET,Direct,TODAY,NaN,1109.556,NaN,NaN,NaN
5043,RYK,WATER,DASANI,1500ml PET,Indirect,TODAY,NaN,7.925,NaN,NaN,NaN
5050,RYK,WATER,KINLEY,1500ml PET,Indirect,TODAY,697.408,175.938,1879.267067,NaN,NaN
5054,RYK,WATER,KINLEY,500ml PET,Indirect,TODAY,257.875,50.722,827.845910,NaN,NaN

In [8]:
data_1=data_0.drop(['Region'],axis=1).copy()

In [9]:
data_1

,Loc,CATEGORY,BRAND,PACK,RTM,Period,ACT-2017,ACT-2018,BP-2018,Unnamed: 10,Unnamed: 11
2,FSD,ENERGY DRINK,MONSTER PREMIUM,355ml CAN,Indirect,TODAY,NaN,NaN,21.587125,NaN,NaN
6,FSD,ENERGY DRINK,Mutant,500ml PET,Indirect,TODAY,NaN,NaN,188.182830,NaN,NaN
10,FSD,JUICE,CAPPY JOOSI APPLE,200ml TETRA,Direct,TODAY,NaN,8.454,NaN,NaN,NaN
14,FSD,JUICE,CAPPY JOOSI APPLE,200ml TETRA,Indirect,TODAY,NaN,NaN,72.926403,NaN,NaN
18,FSD,JUICE,CAPPY JOOSI MANGO,200ml TETRA,Direct,TODAY,NaN,16.908,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5035,RYK,SPARKLING,SPRITE ZERO,500ml PET,Indirect,TODAY,3.171,NaN,18.671730,NaN,NaN
5039,RYK,WATER,DASANI,1500ml PET,Direct,TODAY,NaN,1109.556,NaN,NaN,NaN
5043,RYK,WATER,DASANI,1500ml PET,Indirect,TODAY,NaN,7.925,NaN,NaN,NaN
5050,RYK,WATER,KINLEY,1500ml PET,Indirect,TODAY,697.408,175.938,1879.267067,NaN,NaN
5054,RYK,WATER,KINLEY,500ml PET,Indirect,TODAY,257.875,50.722,827.845910,NaN,NaN

In [ ]:
split_data=data_1['PACK'].str.split(' ',n=1,expand=True)
split_data

In [11]:
data_1['Packsize']=split_data[0]
data_1['Package']=split_data[1]

In [12]:
data_1.drop(['PACK'],axis=1)

,Loc,CATEGORY,BRAND,RTM,Period,ACT-2017,ACT-2018,BP-2018,Unnamed: 10,Unnamed: 11,Packsize,Package
2,FSD,ENERGY DRINK,MONSTER PREMIUM,Indirect,TODAY,NaN,NaN,21.587125,NaN,NaN,355ml,CAN
6,FSD,ENERGY DRINK,Mutant,Indirect,TODAY,NaN,NaN,188.182830,NaN,NaN,500ml,PET
10,FSD,JUICE,CAPPY JOOSI APPLE,Direct,TODAY,NaN,8.454,NaN,NaN,NaN,200ml,TETRA
14,FSD,JUICE,CAPPY JOOSI APPLE,Indirect,TODAY,NaN,NaN,72.926403,NaN,NaN,200ml,TETRA
18,FSD,JUICE,CAPPY JOOSI MANGO,Direct,TODAY,NaN,16.908,NaN,NaN,NaN,200ml,TETRA
...,...,...,...,...,...,...,...,...,...,...,...,...
5035,RYK,SPARKLING,SPRITE ZERO,Indirect,TODAY,3.171,NaN,18.671730,NaN,NaN,500ml,PET
5039,RYK,WATER,DASANI,Direct,TODAY,NaN,1109.556,NaN,NaN,NaN,1500ml,PET
5043,RYK,WATER,DASANI,Indirect,TODAY,NaN,7.925,NaN,NaN,NaN,1500ml,PET
5050,RYK,WATER,KINLEY,Indirect,TODAY,697.408,175.938,1879.267067,NaN,NaN,1500ml,PET
5054,RYK,WATER,KINLEY,Indirect,TODAY,257.875,50.722,827.845910,NaN,NaN,500ml,PET

In [13]:
data_2=data_1.drop(['PACK'],axis=1).copy()

In [14]:
data_2

,Loc,CATEGORY,BRAND,RTM,Period,ACT-2017,ACT-2018,BP-2018,Unnamed: 10,Unnamed: 11,Packsize,Package
2,FSD,ENERGY DRINK,MONSTER PREMIUM,Indirect,TODAY,NaN,NaN,21.587125,NaN,NaN,355ml,CAN
6,FSD,ENERGY DRINK,Mutant,Indirect,TODAY,NaN,NaN,188.182830,NaN,NaN,500ml,PET
10,FSD,JUICE,CAPPY JOOSI APPLE,Direct,TODAY,NaN,8.454,NaN,NaN,NaN,200ml,TETRA
14,FSD,JUICE,CAPPY JOOSI APPLE,Indirect,TODAY,NaN,NaN,72.926403,NaN,NaN,200ml,TETRA
18,FSD,JUICE,CAPPY JOOSI MANGO,Direct,TODAY,NaN,16.908,NaN,NaN,NaN,200ml,TETRA
...,...,...,...,...,...,...,...,...,...,...,...,...
5035,RYK,SPARKLING,SPRITE ZERO,Indirect,TODAY,3.171,NaN,18.671730,NaN,NaN,500ml,PET
5039,RYK,WATER,DASANI,Direct,TODAY,NaN,1109.556,NaN,NaN,NaN,1500ml,PET
5043,RYK,WATER,DASANI,Indirect,TODAY,NaN,7.925,NaN,NaN,NaN,1500ml,PET
5050,RYK,WATER,KINLEY,Indirect,TODAY,697.408,175.938,1879.267067,NaN,NaN,1500ml,PET
5054,RYK,WATER,KINLEY,Indirect,TODAY,257.875,50.722,827.845910,NaN,NaN,500ml,PET

In [15]:
data_2.insert(loc=1,column='Year',value='2018')

In [16]:
data_2

,Loc,Year,CATEGORY,BRAND,RTM,Period,ACT-2017,ACT-2018,BP-2018,Unnamed: 10,Unnamed: 11,Packsize,Package
2,FSD,2018,ENERGY DRINK,MONSTER PREMIUM,Indirect,TODAY,NaN,NaN,21.587125,NaN,NaN,355ml,CAN
6,FSD,2018,ENERGY DRINK,Mutant,Indirect,TODAY,NaN,NaN,188.182830,NaN,NaN,500ml,PET
10,FSD,2018,JUICE,CAPPY JOOSI APPLE,Direct,TODAY,NaN,8.454,NaN,NaN,NaN,200ml,TETRA
14,FSD,2018,JUICE,CAPPY JOOSI APPLE,Indirect,TODAY,NaN,NaN,72.926403,NaN,NaN,200ml,TETRA
18,FSD,2018,JUICE,CAPPY JOOSI MANGO,Direct,TODAY,NaN,16.908,NaN,NaN,NaN,200ml,TETRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,RYK,2018,SPARKLING,SPRITE ZERO,Indirect,TODAY,3.171,NaN,18.671730,NaN,NaN,500ml,PET
5039,RYK,2018,WATER,DASANI,Direct,TODAY,NaN,1109.556,NaN,NaN,NaN,1500ml,PET
5043,RYK,2018,WATER,DASANI,Indirect,TODAY,NaN,7.925,NaN,NaN,NaN,1500ml,PET
5050,RYK,2018,WATER,KINLEY,Indirect,TODAY,697.408,175.938,1879.267067,NaN,NaN,1500ml,PET
5054,RYK,2018,WATER,KINLEY,Indirect,TODAY,257.875,50.722,827.845910,NaN,NaN,500ml,PET

In [17]:
data_2.insert(loc=1,column='Month',value='Apr')

In [18]:
data_2

,Loc,Month,Year,CATEGORY,BRAND,RTM,Period,ACT-2017,ACT-2018,BP-2018,Unnamed: 10,Unnamed: 11,Packsize,Package
2,FSD,Apr,2018,ENERGY DRINK,MONSTER PREMIUM,Indirect,TODAY,NaN,NaN,21.587125,NaN,NaN,355ml,CAN
6,FSD,Apr,2018,ENERGY DRINK,Mutant,Indirect,TODAY,NaN,NaN,188.182830,NaN,NaN,500ml,PET
10,FSD,Apr,2018,JUICE,CAPPY JOOSI APPLE,Direct,TODAY,NaN,8.454,NaN,NaN,NaN,200ml,TETRA
14,FSD,Apr,2018,JUICE,CAPPY JOOSI APPLE,Indirect,TODAY,NaN,NaN,72.926403,NaN,NaN,200ml,TETRA
18,FSD,Apr,2018,JUICE,CAPPY JOOSI MANGO,Direct,TODAY,NaN,16.908,NaN,NaN,NaN,200ml,TETRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,RYK,Apr,2018,SPARKLING,SPRITE ZERO,Indirect,TODAY,3.171,NaN,18.671730,NaN,NaN,500ml,PET
5039,RYK,Apr,2018,WATER,DASANI,Direct,TODAY,NaN,1109.556,NaN,NaN,NaN,1500ml,PET
5043,RYK,Apr,2018,WATER,DASANI,Indirect,TODAY,NaN,7.925,NaN,NaN,NaN,1500ml,PET
5050,RYK,Apr,2018,WATER,KINLEY,Indirect,TODAY,697.408,175.938,1879.267067,NaN,NaN,1500ml,PET
5054,RYK,Apr,2018,WATER,KINLEY,Indirect,TODAY,257.875,50.722,827.845910,NaN,NaN,500ml,PET

In [19]:
data_2.insert(loc=1,column='Day',value='6')

In [20]:
data_2

,Loc,Day,Month,Year,CATEGORY,BRAND,RTM,Period,ACT-2017,ACT-2018,BP-2018,Unnamed: 10,Unnamed: 11,Packsize,Package
2,FSD,6,Apr,2018,ENERGY DRINK,MONSTER PREMIUM,Indirect,TODAY,NaN,NaN,21.587125,NaN,NaN,355ml,CAN
6,FSD,6,Apr,2018,ENERGY DRINK,Mutant,Indirect,TODAY,NaN,NaN,188.182830,NaN,NaN,500ml,PET
10,FSD,6,Apr,2018,JUICE,CAPPY JOOSI APPLE,Direct,TODAY,NaN,8.454,NaN,NaN,NaN,200ml,TETRA
14,FSD,6,Apr,2018,JUICE,CAPPY JOOSI APPLE,Indirect,TODAY,NaN,NaN,72.926403,NaN,NaN,200ml,TETRA
18,FSD,6,Apr,2018,JUICE,CAPPY JOOSI MANGO,Direct,TODAY,NaN,16.908,NaN,NaN,NaN,200ml,TETRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,RYK,6,Apr,2018,SPARKLING,SPRITE ZERO,Indirect,TODAY,3.171,NaN,18.671730,NaN,NaN,500ml,PET
5039,RYK,6,Apr,2018,WATER,DASANI,Direct,TODAY,NaN,1109.556,NaN,NaN,NaN,1500ml,PET
5043,RYK,6,Apr,2018,WATER,DASANI,Indirect,TODAY,NaN,7.925,NaN,NaN,NaN,1500ml,PET
5050,RYK,6,Apr,2018,WATER,KINLEY,Indirect,TODAY,697.408,175.938,1879.267067,NaN,NaN,1500ml,PET
5054,RYK,6,Apr,2018,WATER,KINLEY,Indirect,TODAY,257.875,50.722,827.845910,NaN,NaN,500ml,PET

In [21]:
data_2.head()

,Loc,Day,Month,Year,CATEGORY,BRAND,RTM,Period,ACT-2017,ACT-2018,BP-2018,Unnamed: 10,Unnamed: 11,Packsize,Package
2,FSD,6,Apr,2018,ENERGY DRINK,MONSTER PREMIUM,Indirect,TODAY,NaN,NaN,21.587125,NaN,NaN,355ml,CAN
6,FSD,6,Apr,2018,ENERGY DRINK,Mutant,Indirect,TODAY,NaN,NaN,188.182830,NaN,NaN,500ml,PET
10,FSD,6,Apr,2018,JUICE,CAPPY JOOSI APPLE,Direct,TODAY,NaN,8.454,NaN,NaN,NaN,200ml,TETRA
14,FSD,6,Apr,2018,JUICE,CAPPY JOOSI APPLE,Indirect,TODAY,NaN,NaN,72.926403,NaN,NaN,200ml,TETRA
18,FSD,6,Apr,2018,JUICE,CAPPY JOOSI MANGO,Direct,TODAY,NaN,16.908,NaN,NaN,NaN,200ml,TETRA

In [22]:
data_3=data_2.copy()

In [23]:
data_3

,Loc,Day,Month,Year,CATEGORY,BRAND,RTM,Period,ACT-2017,ACT-2018,BP-2018,Unnamed: 10,Unnamed: 11,Packsize,Package
2,FSD,6,Apr,2018,ENERGY DRINK,MONSTER PREMIUM,Indirect,TODAY,NaN,NaN,21.587125,NaN,NaN,355ml,CAN
6,FSD,6,Apr,2018,ENERGY DRINK,Mutant,Indirect,TODAY,NaN,NaN,188.182830,NaN,NaN,500ml,PET
10,FSD,6,Apr,2018,JUICE,CAPPY JOOSI APPLE,Direct,TODAY,NaN,8.454,NaN,NaN,NaN,200ml,TETRA
14,FSD,6,Apr,2018,JUICE,CAPPY JOOSI APPLE,Indirect,TODAY,NaN,NaN,72.926403,NaN,NaN,200ml,TETRA
18,FSD,6,Apr,2018,JUICE,CAPPY JOOSI MANGO,Direct,TODAY,NaN,16.908,NaN,NaN,NaN,200ml,TETRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,RYK,6,Apr,2018,SPARKLING,SPRITE ZERO,Indirect,TODAY,3.171,NaN,18.671730,NaN,NaN,500ml,PET
5039,RYK,6,Apr,2018,WATER,DASANI,Direct,TODAY,NaN,1109.556,NaN,NaN,NaN,1500ml,PET
5043,RYK,6,Apr,2018,WATER,DASANI,Indirect,TODAY,NaN,7.925,NaN,NaN,NaN,1500ml,PET
5050,RYK,6,Apr,2018,WATER,KINLEY,Indirect,TODAY,697.408,175.938,1879.267067,NaN,NaN,1500ml,PET
5054,RYK,6,Apr,2018,WATER,KINLEY,Indirect,TODAY,257.875,50.722,827.845910,NaN,NaN,500ml,PET

In [24]:
data_4=data_3.reindex(columns=['Year','Month','Day','Loc','CATEGORY','BRAND','Packsize','Package','RTM','Period','ACT-2017','ACT-2018','BP-2018','Unnamed: 10','Unnamed: 11'])

In [25]:
data_4.head()

,Year,Month,Day,Loc,CATEGORY,BRAND,Packsize,Package,RTM,Period,ACT-2017,ACT-2018,BP-2018,Unnamed: 10,Unnamed: 11
2,2018,Apr,6,FSD,ENERGY DRINK,MONSTER PREMIUM,355ml,CAN,Indirect,TODAY,NaN,NaN,21.587125,NaN,NaN
6,2018,Apr,6,FSD,ENERGY DRINK,Mutant,500ml,PET,Indirect,TODAY,NaN,NaN,188.182830,NaN,NaN
10,2018,Apr,6,FSD,JUICE,CAPPY JOOSI APPLE,200ml,TETRA,Direct,TODAY,NaN,8.454,NaN,NaN,NaN
14,2018,Apr,6,FSD,JUICE,CAPPY JOOSI APPLE,200ml,TETRA,Indirect,TODAY,NaN,NaN,72.926403,NaN,NaN
18,2018,Apr,6,FSD,JUICE,CAPPY JOOSI MANGO,200ml,TETRA,Direct,TODAY,NaN,16.908,NaN,NaN,NaN

In [26]:
data_4.rename(columns={'Loc':'Location'})

,Year,Month,Day,Location,CATEGORY,BRAND,Packsize,Package,RTM,Period,ACT-2017,ACT-2018,BP-2018,Unnamed: 10,Unnamed: 11
2,2018,Apr,6,FSD,ENERGY DRINK,MONSTER PREMIUM,355ml,CAN,Indirect,TODAY,NaN,NaN,21.587125,NaN,NaN
6,2018,Apr,6,FSD,ENERGY DRINK,Mutant,500ml,PET,Indirect,TODAY,NaN,NaN,188.182830,NaN,NaN
10,2018,Apr,6,FSD,JUICE,CAPPY JOOSI APPLE,200ml,TETRA,Direct,TODAY,NaN,8.454,NaN,NaN,NaN
14,2018,Apr,6,FSD,JUICE,CAPPY JOOSI APPLE,200ml,TETRA,Indirect,TODAY,NaN,NaN,72.926403,NaN,NaN
18,2018,Apr,6,FSD,JUICE,CAPPY JOOSI MANGO,200ml,TETRA,Direct,TODAY,NaN,16.908,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,2018,Apr,6,RYK,SPARKLING,SPRITE ZERO,500ml,PET,Indirect,TODAY,3.171,NaN,18.671730,NaN,NaN
5039,2018,Apr,6,RYK,WATER,DASANI,1500ml,PET,Direct,TODAY,NaN,1109.556,NaN,NaN,NaN
5043,2018,Apr,6,RYK,WATER,DASANI,1500ml,PET,Indirect,TODAY,NaN,7.925,NaN,NaN,NaN
5050,2018,Apr,6,RYK,WATER,KINLEY,1500ml,PET,Indirect,TODAY,697.408,175.938,1879.267067,NaN,NaN
5054,2018,Apr,6,RYK,WATER,KINLEY,500ml,PET,Indirect,TODAY,257.875,50.722,827.845910,NaN,NaN

In [27]:
file='RESULT 01 ETL.xlsx'

In [28]:
data_4.to_excel(file)

In [29]:
file

'RESULT 01 ETL.xlsx'